*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
    color: black;
}
/*Barra de navegación*/
nav{
    background-color: black;
    color: white;
    padding-inline: 10%;
    padding-block: 1%;
}
#navbar{
    display: flex;
    align-items: center;
}
header{
    flex:1
}
header h1{
    font-size: 2.5rem;
}
.contenidoNav{
    flex:5;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contenidoNav ul{
    display: flex;
}
.contenidoNav ul li{
    list-style-type: none;
    margin-right: 2rem;
}
.contenidoNav ul li a{
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
}
.contenidoNav ul li a.activo{
    font-weight: 700;
}
.contenidoNav button{
    background-color: lightseagreen;
    color: white;
    font-size: 1.4rem;
    padding: 0.4rem;
    border-radius: 0.4rem;
}
/*Main*/
main{
    margin-block: 2rem;
    padding-inline: 10%;
    width: auto;
    display: flex;
}
/*Secciones*/
section{
    flex: 2;
}
/*Tarjeta Usario*/
#tarjeta-usario, #educacion{
    border: solid 2px lightgrey;
    border-radius: 0.5rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
}
.celeste{
    height: 2.5rem;
    background-color: lightseagreen;
    padding: 2rem;
    border-radius: 0.5rem 0.5rem 0rem 0rem;
}
.celeste img{
    height: 8rem;
}
.gris{
    background-color: whitesmoke;
    padding: 4rem 2rem 1rem 2rem;
    border-radius: 0rem 0rem 0.5rem 0.5rem;
}
.gris h2{
    font-size: 2rem;
    margin-bottom: 0.5rem;
}
.ubicacion, .configuracion{
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}
.ubicacion img, .configuracion img{
    height: 1.3rem;
    margin-right: 0.5rem;
}
.ubicacion p{
    font-size: 1.3rem;
    font-weight: 500;
}
.informacion p{
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 0.5rem;
}
.configuracion a{
    color: #2B78E4;
    font-weight: 500;
}
.configuracion a:hover{
    font-weight: 600;
}
/*Seccion Educación, formato inicial en la tarjeta */
.titular{
    background-color:#333333;
    height: 1.3rem;
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 0.5rem 0.5rem 0rem 0rem;
}
.titular h3{
    color: white;
    font-size: 1.3rem;
    font-weight: 500;
}
.infoEducacion{
    background-color: whitesmoke;
    padding: 1rem 2rem 1rem 2rem ;
    border-radius: 0rem 0rem 0.5rem 0.5rem;
}
.infoEducacion h4{
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
}
.infoEducacion h5{
    font-size: 1rem;
    font-weight: 400;
    color: gray;
    margin-bottom: 0.5rem;
}
.infoEducacion p{
    font-size: 1rem;
    font-weight: 500;
}
/*Aside*/
aside{
    flex:1;
}
/*Solicitudes*/
/*Se tuvo que editar el diseño de css al agregar un div con ver más en la tarjeta de conecciones*/
#solicitudes, #conecciones{
    border: solid 2px lightgrey;
    border-radius: 0.5rem;
    margin-bottom: 2rem;
}
.titular2{
    background-color: #333333;
    height: auto;
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 0.5rem 0.5rem 0rem 0rem;
    display: flex;
    align-items: center;
}
.boton1 button{
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    border: none;
    font-size: 1rem;
    font-weight: 700;
    color: #333333;;
}
.titular2 h3{
    color: white;
    margin-left: 1rem;
    text-align: center;
}
.infoSolicitudes{
    background-color: whitesmoke;
    padding: 1rem 0rem;
    border-radius: 0rem 0rem 0.5rem 0.5rem;
}
.persona {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.infoPersona{
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    margin-block: 1rem;
    padding-inline-start:2rem;
}
.infoPersona img{
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    margin-right: 1rem;
}
.iconoSolicitudes{
    padding-inline-end:2rem;
}
.iconoSolicitudes img{
    width: 2rem;
    height: 2rem;
    margin-left: 1rem;
}
/*Conecciones*/
/* se usaron las mismas propiedades de la tarjeta Solicitudes, sólo cambio el boton*/
.boton2 button{
    height: 2rem;
    width: 3rem;
    border-radius: 50%;
    border: none;
    font-size: 1rem;
    font-weight: 700;
    color: #333333;;
}
/*Propiedades del ver mas se agregaron al final,se tuvo que modficicar css*/
/*siempre revisar bien los contenidos html antes del css*/
.verMas{
    background-color: whitesmoke;
    border-top:solid 2px lightgrey;
    padding: 1rem 2rem;
}
.verMas a, .verMas a:visited{
    font-weight: 500;
    font-size: 1.4rem;
    color: #2B78E4;
}
.verMas a:hover{
    font-weight: 600;
}
